# Data (DVC styrer data/ via egne .gitignore-filer)
data/*
!data/raw/
data/raw/*
!data/raw/PetImages.dvc
creditcard.csv

# Virtual environment
.venv
venv/

# IDE/Editor
.claude
CLAUDE.md
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Model artifacts
/models/
*.pt
*.pth

# Logs
/logs/


.DS_Store
PetImages.zip
.DS_Store
